<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FitTrack API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

        <style>
          div { 
            width: 70%;
            margin: 2rem auto;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
          }

          h1 {
            font-size: 2rem;
            color: #444;
          }

          h1 span {
            font-family: 'Kaushan Script', cursive;
          }

        </style>
    </head>
    <body>
      <div>
        <h1><span>FitTrack</span> API</h1>
        <p> Nothing to see here. </p>
      </div>

    </body>
</html>
