{% extends 'base_accounts.html' %}

{% block title %}Reset password{% endblock %}

{% block form_content %}
<div class="account-form">
  <h2>Reset Email Sent</h2>

  <hr />
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>We have sent you an e-mail. Please contact us at <a href="mailto:help@fittrak.ca">help@fittrak.ca</a> if you do not receive it within a few minutes.</p>

  <div class="actions">
    <a href="{% url 'account_login'}">Sign in</a>
  </div>
</div>
{% endblock %}
