{% extends 'base_accounts.html' %}

{% block title %}Change password{% endblock %}

{% block form_content %}
<div class="account-form">
  <h2>{% if token_fail %}Oops! Cannot Change Password!{% else %}Change Password{% endif %}</h2>

  <hr />

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
    </p>

  {% else %}

    {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}

        <div class="field">
          <input type="password" name="password1" placeholder="New Password" required id="id_password1">
          {{ form.password1.errors }}
        </div>

        <div class="field last">
          <input type="password" name="password2" placeholder="New password (again)" required id="id_password2">
          {{ form.password2.errors }}
        </div>

        {{ form.nonfield.errors }}
        <hr />

        <div class="actions">
          <button type="submit" name="action">Change</button>
        </div>
      </form>

    {% else %}
      <p>Password changed successfully! <a href="{% url 'account_login' %}">Sign in</a>.
    {% endif %}

  {% endif %}
</div>
{% endblock %}
