{% extends 'base_accounts.html' %}

{% block title %}Reset password{% endblock %}

{% block form_content %}
<div class="account-form">
  <h2>Forgot Password</h2>

  <hr />

  <p>Please enter your email below and we'll send you a reset email!</p>

  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}

    <div class="field last">
      <input type="email" name="email" size="30" placeholder="E-mail address" required="" id="id_email">
      {{ form.email.errors }}
    </div>

    {{ form.non_field_errors }}

    <hr />

    <div class="actions">
      <input type="submit" value="Send Reset" /> or
      <a href="{% url 'account_login' %}">Sign in</a>
    </div>

  </form>
</div>
{% endblock %}
