DJANGO_SECRET_KEY=""
DJANGO_HASHIDS_SALT=""
EMAIL_HOST= 'smtp.mailgun.org'
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
DB_ENGINE="django.db.backends.postgresql"
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
SENTRY_DSN=
SENTRY_ENV=
SENTRY_RELEASE=
