[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.4"
hashids = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
Werkzeug = "*"
graphene = ">=2.0"
graphene-django = ">=2.0"
django-graphql-jwt = "*"
django-webpack-loader = "*"

[dev-packages]
