[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.3"
hashids = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
Werkzeug = "*"
graphene = ">=2.0"
graphene-django = ">=2.0"
django-graphql-jwt = "*"
django-webpack-loader = "*"
gunicorn = "*"
django-allow-cidr = "*"
"psycopg2-binary" = "*"
django-allauth = "*"
requests = "==2.20"

[dev-packages]
snapshottest = "*"
ipython = "*"
