{% extends 'base.html' %}

{% block content %}

<h2> Login </h2>

<form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p class="control">
    <label class="label">Username</label>
    <input class="input" autofocus="" id="id_username" maxlength="254" name="username" type="text" required="" placeholder="">
    {{ form.username.errors }}
    </p>

    <p class="control">
    <label class="label">Password</label>
    <input class="input" id="id_password" name="password" type="password" required="" placeholder="">
    {{ form.password.errors }}
    </p>

    <input class="button is-primary" type="submit" value="Login" />
</form>

{% endblock content %}
