{% extends 'base_accounts.html' %}

{% block title %}Sign in{% endblock %}

{% block form_content %}
<div class="account-form">
  <h2>Sign in</h2>

  <hr />

  <form method="post" action="/accounts/login/">
    {% csrf_token %}

    <div class="field">
      <input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username" placeholder="Username">
      {{ form.username.errors }}
    </div>

    <div class="field last">
      <input type="password" name="password" required="" id="id_password" placeholder="Password">
      {{ form.password.errors }}
    </div>

    {{ form.non_field_errors }}

    <hr />

    <div class="actions">
      <input type="submit" class="button is-primary" value="Sign in" /> or
      <a class="button" href="{% url "registration_register" %}">Sign up</a>
    </div>

  </form>
</div>
{% endblock %}
