{% extends 'base_accounts.html' %}

{% block title %}Sign Up{% endblock %}

{% block form_content %}
<div class="account-form">
  <h2>Sign up for a <span class="primary">free</span> account</h2>

  <hr />

  <form method="post" action="/accounts/register/">
    {% csrf_token %}

    <div class="field">
      <input class="input" type="text" name="username" maxlength="150" autofocus="" required=""
      id="id_username" placeholder="Username">
      {{ form.username.errors }}
    </div>

    <div class="field">
      <input class="input" type="email" name="email" required="" id="id_email" placeholder="Email">
      {{ form.email.errors }}
    </div>

    <div class="field">
      <input class="input" type="password" name="password" required="" id="id_password"
      placeholder="Password">
      {{ form.password }}
    </div>

    <div class="field last">
      <input class="input" type="password" name="password2" required="" id="id_password2"
      placeholder="Password confirmation">
      {{ form.password2.errors }}
    </div>

    {{ form.non_field_errors }}
    <hr />


    <div class="actions">
      <input type="submit" class="button is-primary" value="Sign up" /> or
      <a class="button is-outlined" href="{% url "auth_login" %}">Sign In</a>
    </div>

  </form>
</div>
{% endblock %}
