$darkgrey2: #444444;

div.sidebar {
  z-index: 2;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: $darkgrey;
  position: fixed;
  color: $white;
}

div.sidebar aside.menu {
  padding: 1rem;
}

div.sidebar div.toggle-menu {
  border-bottom: 1px solid $darkgrey2;
}

div.sidebar div.toggle-menu button span {
  color: $white;
}

