header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
}

header h1 {
  font-size: 2rem;
  padding: 0 1rem;
  color: white;
}

div.sidebar {
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background: blue;
  position: fixed;
}

div.profile-menu {
  text-align: right;
  padding: .2rem .5rem;
  color: white;
}

div.profile-menu a {
  color: white;
}

div.main{
  margin-top: 5rem;
}

footer {

}
