
// Colors
$darkgrey: #353535;
$white: #ffffff;


header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: $white;
}

header h1 {
  font-size: 2rem;
  padding: 0 1rem;
  color: $white;
}

div.sidebar {
  z-index: 2;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: $darkgrey;
  position: fixed;
  padding: 1rem;
  color: $white;
}

div.profile-menu {
  text-align: right;
  margin-right: 1rem;
  margin-top: .3rem;
  color: $white;
}

div.main{
  margin-top: 3rem;
}

div.main h2 {
  margin: 0 1rem;
  text-align: center;
  font-size: 2rem;
}

footer {
  margin: 0 1rem;
  text-align: center;
}
