<header>
  <div class="columns is-mobile">
    <div class="column is-half">
      <h1><a href="{% url 'index' %}">FitTrack</a></h1>
    </div>

    <div class="column">
      <div class="profile-menu">
      {% if user.is_authenticated %}
        <a class="button is-link" href="">{{ user.username }}</a>
      {% else %}
        <a class="button is-secondary" href="{% url 'auth_login' %}">Login</a>
        <a class="button is-secondary" href="{% url 'registration_register' %}">Register</a>
      {% endif %}
      </div>
    </div>
  </div>
</header>
