{% load render_bundle from webpack_loader %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% block meta %}{% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FitTrak | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}
          {% render_bundle 'chunk-vendors' 'css' %}
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

        <style>
          body, html {
            height: 100%;
            width: 100%;
            background: #e7e7e7;
          }
          nav h1 {
            padding: 0 10px;
            font-size: 28px;
            font-family: "Kaushan Script", cursive;
            color: #fff;
          }
          nav .navbar-burger {
            height: auto;
          }
        </style>

        <script type="text/javascript">
          document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

              // Add a click event on each of them
              $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);

                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');

                });
              });
            }
          });
        </script>
    </head>
    <body>
      <noscript>
        <strong>We're sorry but FitTrak doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
      <div id="wrapper">
        {% block header %}
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://fittrak.ca">
              <h1 id="logo">FitTrak</h1>
            </a>
          </div>
        </nav>
        {% endblock %}

        {% block content %}{% endblock content %}

        <div class="container has-text-centered">
          <footer>
            <a href="https://github.com/tsoporan/fittrak">Made</a> with <span style="color:
              red">&hearts;</span>. {% now "Y" %}
          </footer>
        </div>
      </div>
    </body>
</html>
