{% extends 'base.html' %}

{% block extra_head %}
{{ block.super }}
<style>
div.account-form {
  margin: 30px auto;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 600px;
}
div.account-form h2 {
  font-size: 24px;
  text-align: center;
  margin: 15px 0;
}
div.account-form form {
  margin: 20px 0;
}
div.field {
  margin: 20px 0 0;
}
div.field.last {
  padding-bottom:15px;
}
div.field input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
ul.errorlist {
  margin: 25px auto 0;
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}
ul.errorlist li {
  background: #f9f9f9;
  margin: 4px;
  padding: 5px;
  border-radius: 3px;
  color: #d62246;
}
div.actions {
  text-align: center;
  padding: 15px 0 0;
}
div.actions button, div.actions input {
  padding: 10px;
}
div.actions input:hover {
  background: #444;
}
button, input[type="submit"] {
  background: #222;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  border: 1px solid #111;
  cursor: pointer;
}
hr {
  border: 1px dotted #ddd;
}
div.account-form .footer {
  font-size: 12px;
  margin: 15px 0 0;
}
</style>
{% endblock %}

{% block content %}
  <div class="container">
    {% block form_content %}{% endblock %}
  </div>
{% endblock %}
