{% load render_bundle from webpack_loader %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% block meta %}{% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FitTrak | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% render_bundle 'vendors~app' %}
        {% endblock %}
    </head>
    <body>
      <noscript>
        <strong>We're sorry but FitTrak doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
      {% block content %}
      <div id="app"></div>
      {% render_bundle 'app' %}
      {% endblock content %}
    </body>
</html>
