[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.4"
django-allauth = "*"
django-rest-framework = "*"
djangorestframework = "*"
django-rest-auth = "*"
hashids = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework-jwt = "*"
Werkzeug = "*"
graphene = ">=2.0"
graphene-django = ">=2.0"

[dev-packages]
